altgraph==0.17
certifi==2020.12.5
chardet==4.0.0
charset-normalizer==2.0.12
idna==2.10
importlib-metadata==3.5.0
macholib==1.14
pymediainfo==5.1.0
PyPDF2==1.27.12
PyQt5==5.15.6
PyQt5-Qt==5.15.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.10.1
requests==2.27.1
typing-extensions==3.7.4.3
urllib3==1.26.4
zipp==3.4.0
